.ios,
.md {
    page-login {
        ion-content {
            // background-image: url('../assets/img/1-resize16-9.jpg');
            // background-repeat: no-repeat;
            // background-size: cover;
            background-color: color($colors, dark, base); // background-position: center;
        }
        .input {
            border-bottom: 1px solid;
        }
        .invalid {
            border-bottom: 1px solid color($colors, danger, base);
        }
        .login-button {
            // background-color: color($colors, primary, base);
            :active,
            :hover {
                background-color: color($colors, primary, base);
            }
        }
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        p {
            color: #ffffff;
            font-weight: bold;
            text-align: center;
        }
        
        .create-account-button {
            color: #ffffff;
            border-color: #ffffff;
            border: 2px solid;
        }
    }
}