.ios,
.md {
  page-login {

    ion-content {
      background-image: url('../assets/img/1-resize16-9.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: transparent;
      background-position: center;
    }


    .invalid {
      border-bottom: 1px solid #ea6153;
    }

    .create-account {
      color: #fff;
      border-color: #fff;
    }
  }
}
