.ios,
.md {
  page-home {

    ion-content {
    //  background-image: url('../assets/img/2-resize16-9.jpg');
    //  background-repeat: no-repeat;
    //  background-size: cover;
      background-color: #3F51B5;
    //  background-position: center;
    }

  //  .toolbar-background, .toolbar-background-ios {
  //    background-color: #3F51B5;
  //  }

  //  .searchbar-input {

  //  }

  //  .fab, .fab-ios {
  //    background-color: #9FA8DA;
  //  }

    ion-list,
    ion-item {
    	background-color: transparent;
    }

    ion-grid {
    	background-color: #fff;
    	padding: 0px;
    }
  }
}
