.ios,
.md {
  page-home {

    ion-content {
    //  background-image: url('../assets/img/2-resize16-9.jpg');
    //  background-repeat: no-repeat;
    //  background-size: cover;
      background-color: color($colors, dark, base);
      //#3F51B5;
    //  background-position: center;
    }

  //  .toolbar-background, .toolbar-background-ios {
  //    background-color: #3F51B5;
  //  }

  //  .searchbar-input {

  //  }

    ion-list,
    ion-item {
    	background-color: transparent;
    }

    ion-toolbar,
    ion-header {
      background-color: color($colors, dark, base);
    }

    ion-item-divider {
      background-color: color($colors, secondary, base);
      font-weight: bold;
    }

    h3 {
      color: #ffffff;
      font-weight: bold;
    }

    p {
      color: #e2e0e0;
    }

    ion-grid {
    	background-color: #fff;
    	padding: 0px;
    }

    ion-img, img {
      display: block;
      width: auto;
      height: auto;
      max-height: 56px;
    }
  }
}
