.ios,
.md {
    page-review {
        ion-content {
            //  background-image: url('../assets/img/3-resize16-9.jpg');
            //  background-repeat: no-repeat;
            //  background-size: cover;
            background-color: color($colors, dark, base); //  background-position: center;
        }

        .websearch-button:active,
        .websearch-button:hover,
        .speech-button:active,
        .speech-button:hover,
        .scan-button:active,
        .scan-button:hover,
        .save-button:active,
        .save-button:hover,
        .cancel-button:active,
        .cancel-button:hover {
            background-color: color($colors, primary, base);
        }

        .input {
            border-bottom: 1px solid;
        }

        .invalid {
            border: 1px solid color($colors, danger, base);
        }

        img {
          display: block;
          width: auto;
          height: auto;
          max-height: 56px
        }
    }
}